.button-circle-outline{
    border-radius: 40px;
    margin: 15px;
    width: 200px;    
    height: 35px;
    background-color: white;
    outline: #4b0082;    
}

.button-circle{
    border-radius: 40px;
    margin: 15px;
    width: 150px;
    height: 35px;
}

.text-format{
    font-family: Candara;
    color: indigo;
}

.bg-indigo{
    background-color: #4b0082;
}

.button-circle-outline:hover{
    background-color: #4b0082;
    color: white;
}

.text-indigo{
    color: #4b0082;
}

@font-face {
    font-family: 'Candara';
    src: url('src/assets/fonts/Candara.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.font-candara
{
    font-family: Candara;
}

.fs-16
{
    font-size: 17px;
}

#img-bg{
    background-image: url('https://i.imgur.com/jpl20xf.jpg');
    min-height: 100vh; /*para completar 100% de todas as telas*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

